.wrapper{ 
  width:450px; 
  padding: 20px;
  position: absolute;
  left: 30%;
}

#login_page{
  background-image: url("../images/datawall2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

  .bs{
      margin: 20px;
  }
  .navbar{
      margin-bottom: 1rem;
  }

  .modelNEWbu_modal-body input{
    padding:10px;
    margin:5px;
    font: 14px sans-serif; 
    text-align: center;
    background-color: rgb(227, 245, 227);
  }


  .modelProfSelection_body{
    background-color:#c7e4ff;
  }


  #partnerlist tr td {
    line-height: 0.9  ; 
    width: 10;
    font-size: 11px;
    cursor: pointer;
  }


  #example tbody tr:hover {
    cursor: pointer;
  }    

  .bar {
      fill: DodgerBlue ;
  }

  .highlight {
      fill: orange;
  }

  .title {
      fill: blue;
      font-weight: bold;
  }

  /*the container must be positioned relative:*/
  .autocomplete {
      position: relative;
      display: inline-block;
  }
  .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
  }
  
  .autocomplete-items div {
      padding: 5px;
      cursor: pointer;
      background-color: #fff; 
      border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
      background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
      background-color: DodgerBlue !important; 
      color: #ffffff; 
  }

  .user_days1 {
      font: 12px sans-serif; 

  }

  .btn-vrsml {
      padding: 1px 1px;
      font-size: 22px;
  }

  .smallbutton {
      padding: 1px 1px;
      font-size: 22px;
  }

  .HeaderText {
      padding: 20px;
      text-align: center;
      color: DodgerBlue;
      font-size: 30px;
      }

.textONcycle {
  text-align: left;
  font-size: 10px;
  font-weight: bold;
  
}


.textONcycle:hover  {
  text-align: left;
  font-size: 16px;
  text-decoration: underline;
  
  }

  

body{ 
        /* font: 14px sans-serif;  */
        /* text-align: left;  */
        /* background-color: #52a9ff;  */
         /*good color 52a9ff*/
        background-image:  url('../images/wall3.jpg'); 
        /* background-repeat: no-repeat; */
        background-size: 100%;
        /* background-color: coral; */
        /* background-image: url('backgr4.gif'); */

      }

#MyMISTEAM {
  /* width: 70vw;
  height: 70vh; */
  position: relative;
  overflow: visible;
  padding:0px;
  margin:0px;
  align-items: center;
  justify-content: center;
  
}

.highlight_cell{
  background-color: rgb(198, 245, 198);
}

.highlight_selected_cell{
  background-color:orange !important;
  transition: background 3s ease-in-out;
}
.highlight_selected_cell input[type=number]{
  background-color: orange !important;
} 

.highlight_basic_cell0-even{
  color:#166cbf !important;
}

.highlight_basic_cell0-odd{
  color:#0f487f !important;
}


.highlight_cell_total{
  background-color:orange;
}

.highlight_conv_tr{
  /* background-color:lightyellow; */
  font-weight: bold;
}

.highlight_percent_negative{
  color:red;
}

.highlight_percent_positive{
  color:green;
}
.highlight_percent_equal{
  color:darkgoldenrod;
}



.highlight_percent_negative:hover {
  color: white;
  background-color:red;
}
.highlight_percent_positive:hover {
  color: white;
  background-color:green;
}
.highlight_percent_equal:hover {
  color: white;
  background-color:darkgoldenrod;
}




/* .ui-page-theme-a .ui-btn.ui-btn{
  background-color: orange;
}

.ui-page-theme-a .ui-btn.ui-btn:active{
  background-color: #12FF56;
} */




.bold {
  font-weight:bold;
}

.loader {
border: 16px solid #f3f3f3;
border-radius: 50%;
/* border-top: 16px solid #3498db; */
border-top: 16px solid DodgerBlue;
/* border-right: 16px solid olivedrab;
border-bottom: 16px solid orange;
border-left: 16px solid yellow; */
width: 60px;
height: 60px;
-webkit-animation: spin 1s linear infinite; /* Safari */
animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.blink_me {
    animation: blinker 1s linear infinite;
    color:red
  }
  @keyframes blinker {  
    50% { opacity: 0; }
  }

/* .dataTables_paginate {
    text-align: center;
    font-size: 10px;
} */

.MultiSuppDT{
  margin:1px;
  padding:1px;
}

.ProfilesTable  {
  width: 100%;
  /* background-color: #f0fff0; */
}

.ProfilesTable thead th {
  font-size: 12px; 
  
  font-family: Calibri, Helvetica, sans-serif;  
  margin: 0px; 
  padding: 0px;   
  text-align: center;
  color: darkblue; 
  background-color:#6b96bf;
    
  }
.ProfilesTable tbody tr td {
    /* border: 2px solid grey;
    text-align: left; */

    border: 1px solid grey;
    text-align: left;
    margin: 0px; 
    padding: 0px;   
    font-size: 14px; 
    font-family: Calibri, Helvetica, sans-serif;
    cursor: pointer;
    white-space: nowrap;
    border-spacing: 0px;
  }
  .ProfilesTable input[type=text] {
    width: 100%;
    /* background-color: #f0fff0; */
  }

/* 
.ProfilesTable tbody tr:nth-child(odd) {
    background-color: green;
  }
  
.ProfilesTable tbody tr:nth-child(even) {
    background-color: orange;
  }  */

  /* #datatable{
 
    td, th {
        vertical-align: bottom;
    }
} */

.profDTinpMultiSUP{
  text-align: left;
  font-size: 8px;
}


.treeview, .treeview li {
  font-size: 12px;
  margin:0px;
  padding:5px;
  margin-left:25px;
}

a.myTVItem1{
  border-radius: 10px;  
  padding: 3px 30px;
  background: orange;  
  
}




a.myTVItem1:hover, a.myTVItem1:active {
    /* font-size: 150%; */
    /* font-family: monospace; */
    /* text-decoration: underline; */
    cursor: pointer;
    background: DodgerBlue;
    /* background: -webkit-linear-gradient(lightgreen,DodgerBlue);  
    background: -moz-linear-gradient(lightgreen,DodgerBlue);  
    background: -o-linear-gradient(lightgreen,DodgerBlue);  
    background: linear-gradient(lightgreen,DodgerBlue);   */
    /* background-size:1px 200px;   */
    border-radius: 10px;  
    padding: 3px 30px;
    /* border: 1px solid #839DB0;   */
  }




  /* body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
} */
/* 
.buttonX {
    position: relative;
    appearance: none;
    background: #f72359;
    padding: 1em 2em;
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 100px;
    span {
        position: relative;
        pointer-events: none;
    }
    &::before {
        --size: 0;
        content: '';
        position: absolute;
        left: var(--x);
        top: var(--y);
        width: var(--size);
        height: var(--size);
        background: radial-gradient(circle closest-side, #4405f7, transparent);
        transform: translate(-50%, -50%);
        transition: width .2s ease, height .2s ease;
    }
    &:hover::before {
        --size: 400px;
    }
} */


/* #sortable { 
  list-style-type: none; 
  margin: 2.5px; 
  padding: 2.5px; 
  width: 60%; 
  font-size: 24; 
} */
/**/
#sortable li{ 
  margin: 0px 0px 0px 0px; 
  padding: 0px; 
  /* font-size: 1.2em;  
  height: 2.5em;  */
  cursor: pointer; 
  display: inline-block;
  *display:inline; /* this fix is needed for IE7- */
  border-radius: 10px;  
  width: 90px;
  text-align: center;
  font-size: 10px;
  color: white;
  background: DodgerBlue;
  /* background: rgb(231, 195, 126); */
}
/*ACTIVE*/
#sortable1 li{ 
  margin: 0px 0px 0px 0px; 
  padding: 0px 3px 0px 3px;
  /* font-size: 1.2em;  
  height: 2.5em;  */
  cursor: pointer; 
  display: inline-block;
  *display:inline; /* this fix is needed for IE7- */
  border-radius: 10px;  
  /* width: 100px; */
  text-align: center;
  font-size: 10px;
  color: white;
  background: DodgerBlue;
  /* background: rgb(231, 195, 126); */
}
/*INACTIVE*/
#sortable2 li{ 
  margin: 0px 0px 0px 0px; 
  padding: 0px 3px 0px 3px;
  /* font-size: 1.2em;  
  height: 2.5em;  */
  cursor: pointer; 
  display: inline-block;
  *display:inline; /* this fix is needed for IE7- */
  border-radius: 10px;  
  /* width: 100px; */
  text-align: center;
  font-size: 10px;
  color: white;
  background:grey;
  /* background: rgb(231, 195, 126); */
}
html>body #sortable li,#sortable1 li,#sortable2 li { 
  height: 2.5em; 
  line-height: 2.5em; 
}


#sortable3 li {
  margin: 1px 1px 1px 1px; 
  padding: 0px 3px 0px 3px;
  cursor: pointer; 
  display: inline-block;
  *display:inline; /* this fix is needed for IE7- */
  border-radius: 10px;  
  /* width: 150px; */
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  color: white;
  background: DodgerBlue;
  border: 1px solid grey;
  list-style-type: none;
  height: 3.0em; 
  line-height: 3.0em; 
  
}

 #sortable4 li {
  margin: 1px 1px 1px 1px; 
  padding: 0px 3px 0px 3px;
  cursor: pointer; 
  display: inline-block;
  *display:inline; /* this fix is needed for IE7- */
  border-radius: 10px;  
  /* width: 150px; */
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  color: white;
  background: grey;
  border: 1px solid grey;
  list-style-type: none;
  height: 2.5em; 
  line-height: 2.5em; 
}
#sortable1 {
  border: 2px solid grey;
  text-align:center;
  height:35px;
  background-image:url('../images/dim_act.png');
  background-repeat:no-repeat;
  background-size:25px 25px; 
  border-radius: 10px;  
}

#sortable2 {
  margin-top:5px;
  border: 2px solid grey;
  text-align:center;
  height:35px;
  background-image:url('../images/dim_ina.png');
  background-repeat:no-repeat;
  background-size:25px 25px;
  border-radius: 10px;  
}

#sortable3 {
  margin: 2px 2px 2px 2px; 
  border: 2px solid grey;
  width:190px;
  float: left;
  border-radius: 10px;
}

#sortable4 {
  margin: 2px 2px 2px 2px; 
  border: 2px solid grey;
  /* width: 315px; */
  float: left;
  border-radius: 10px;
}


ul { 
  margin: 0px 0px 0px 0px; 
  padding: 1px; 
}


.ActivitiesTable thead th {
  border: 2px solid grey;
  font: 10px sans-serif; 
  text-align: center;
  color: darkblue; 
  background-color: burlywood;
}
.ActivitiesTable tbody tr td {
  border: 2px solid grey;
  text-align: center;
  margin: 0px; 
  padding: 0px;   

}


/* https://html-color.codes/hex/1e90ff */

/* #DetailsReportTable thead th,
#DetailsReportTable tfoot th, 
#DetailsReportTable_paginate, 
#DetailsReportTable_filter
  {
  font-size: 11px ; 
  font-family: Calibri, Helvetica, sans-serif;  
  margin: 0px ; 
  padding: 0px ;   
  text-align: left;
  border-spacing: 0px;

} */
.DetailsReportTable_header{
  font-size:8px; 
  padding: 0px;
  margin: 0px; 
}

#DetailsReportTable tbody tr td {

  border: 1px solid grey;
  text-align: left;
  margin: 0px; 
  padding: 0px;   
  font-size: 11px; 
  font-family: Calibri, Helvetica, sans-serif;
  cursor: pointer;
  white-space: nowrap;
  border-spacing: 0px;
}
#DetailsReportTable_filter
  {
  font-size: 11px ; 
  font-family: Calibri, Helvetica, sans-serif;  
  margin: 0px ; 
  padding: 0px ;   
  text-align: left;
  border-spacing: 0px;
} 

#DetailsReportTable_filter input[type=search]{
  background-color: lightgreen;
  padding:0px;
  margin:0px;
  height:15px;
  font-size: 13px; 
}




.TrMappingDT_header{
  font-size:8px; 
  padding: 0px;
  margin: 0px; 
}

#TrMappingDT tbody tr td {
  border: 1px solid grey;
  text-align: left;
  margin: 0px; 
  padding: 0px;   
  font-size: 11px; 
  font-family: Calibri, Helvetica, sans-serif;
  white-space: nowrap;
  border-spacing: 0px;
}

#TrMappingDT_filter
  {
  font-size: 11px ; 
  font-family: Calibri, Helvetica, sans-serif;  
  margin: 0px ; 
  padding:0px ;   
  text-align: left;
  border-spacing: 0px;
  padding-right:300px;
}

#TrMappingDT_filter input[type=search]{
  background-color: lightgreen;
  margin:5px;
  height:15px;
  font-size: 13px; 
  
}

#TrMappingDT input[type=text] {
  width: 100%;
  /* background-color: #f0fff0; */
}

.to_center {
  text-align: center;
}



#ReportTable thead , .ReportTable tfoot   {
  font-size: 12px; 
  
  font-family: Calibri, Helvetica, sans-serif;  
  margin: 0px; 
  padding: 0px;   
  text-align: center;
  color: darkblue; 
  background-color:#6b96bf;
}
.ReportTable tbody tr td {
  border: 0px solid grey;
  text-align: center;
  margin: 0px; 
  padding: 0px;   
  font-size: 12px; 
  font-family: Calibri, Helvetica, sans-serif;
  cursor: pointer;
  white-space: nowrap;
}

.ReportTable input[type=number]{
  width: 65px;
  font: 8px; 
  text-align: center;
  background-color: lightgreen;
} 

/* #rowWITHcharts2{
   background-color:white;
} */

 /* #rowWITHcharts{
  background-color:white;
} */


.HideMyRow {
  visibility: collapse;
  /* height: 1px; */
}

.ShowMyRow {
  visibility: visible;
}

/* .row_selected tr {
  background-color: orange;
} */


.ReportOptionsList {
  /* display: inline-block; */
  /* vertical-align: top; */
  font: 10px sans-serif;
  width: 100%;
  
}



.param_btn{
  width:20px;
  height:20px;

}



  /* BLINKING BUTTON */
.blink_btn {
  background-color: #004A7F;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 10px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 2500ms infinite;
  -moz-animation: glowing 2500ms infinite;
  -o-animation: glowing 2500ms infinite;
  animation: glowing 2500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}
@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}
@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}
@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}




/* TREEMAP */
/* text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #fff;
  stroke-width: 0px;
}

rect.parent,
.grandparent rect {
  stroke-width: 3px;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
}

.children:hover rect.child {
  fill: #bbb;
} */

#chart {
  max-width: 100%;
  overflow:auto;
  }
rect {
  stroke: #fff;
  stroke-width: 1px;
}
rect.parent,
.grandparent rect {
  stroke-width: 3px;
  fill: orange;
}
.grandparent text {
  font-weight: bold;
}
.grandparent:hover rect {
  fill: grey;
  cursor: pointer;
}
.children rect.parent,
.grandparent rect {
  cursor: pointer;
}
.children rect.child {
  opacity: 0;
}
.children:hover rect.child {
  opacity: 1;
  stroke-width: 1px;
}
.children:hover rect.parent {
  opacity: 0;
}
.foreignobj{
  cursor: pointer;
}
.textdiv .title {
    font-size: 11px;
    font-weight: bold;
    padding:3px;
}


.node--leaf {
  fill: white;
}

.node--root,
.node--leaf {
  pointer-events: none;
}

/* Multi Line Chart */
.line {
  stroke-width: 2;
  fill: none;
  shape-rendering: crispEdges;
}

.axis path {
  stroke: black;
}
.title-text {
  font-size: 22px;
  font-weight: bold;
  
}

.legend {                                  
  cursor: pointer;
}    
legend{
  font-size: 40px;
  text-align: center;
  font-family: 'Sofia';
}



/* button panel */

.btn_panel{
  border: 1px solid black;
  padding: 5px;
  border-radius: 10%;
}

.btn_panel:hover{
  border: 3px solid orange;
  padding: 5px;
  border-radius: 10%;
  
}

.loading { 
  background : #ccc;
  opacity : 0.2; 

}



/* Menu navigation */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  /* background-image: url("../images/wood1.jpg");
  background-repeat: no-repeat;
  background-size: 100%; */

  overflow-y: hidden;
  transition: 1.0s;
}

.overlay-content {
  position: relative;
  top: 7%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}


.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.5s;
}

.overlay a:hover, .overlay a:focus {
  color: orange;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

#video {
  position: absolute;
  top: 150px;

} 

canvas {
  position: absolute;
  top: 150px;
}

